In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import random

In [3]:
pd.__version__

'1.4.4'

Se a gente lê o arquivo de 3GB inteiro, vai dar problema. Aqui tem uma receita para ler somente x%: https://www.kaggle.com/questions-and-answers/53925

In [4]:
def skip(i,fraction=0.01):
    if i == 0:
        return False  # precisamos manter o row=0 para ter o header
    else:
        return random.random() > fraction

[skip(i) for i in range(10)]

[False, True, True, True, True, True, True, True, True, True]

In [6]:
%time df = pd.read_csv('../inep/enem/2019/DADOS/MICRODADOS_ENEM_2019.csv',skiprows = skip, encoding='latin1',sep=";")

CPU times: user 23.5 s, sys: 1.55 s, total: 25 s
Wall time: 25 s

In [7]:
df

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004666,2019,1500602,Altamira,15,PA,23,F,1,2,...,A,A,A,B,A,A,C,A,A,A
1,190001004673,2019,1501204,Baião,15,PA,22,M,1,1,...,A,A,A,B,B,A,B,B,A,A
2,190001004681,2019,1501808,Breves,15,PA,23,M,1,3,...,A,A,A,B,B,A,B,A,A,A
3,190001004775,2019,1501402,Belém,15,PA,27,M,1,2,...,A,A,A,B,A,A,B,A,B,A
4,190001004999,2019,1502756,Concórdia do Pará,15,PA,19,F,1,3,...,A,A,A,B,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51041,190006119131,2019,4313409,Novo Hamburgo,43,RS,18,M,1,1,...,B,A,A,C,A,A,D,A,B,B
51042,190006119172,2019,5101704,Barra do Bugres,51,MT,20,M,1,3,...,A,A,A,B,A,A,C,B,C,B
51043,190006119550,2019,1302603,Manaus,13,AM,19,F,1,3,...,A,A,A,B,A,A,E,A,B,B
51044,190006119735,2019,2211001,Teresina,22,PI,19,F,1,2,...,A,A,A,B,A,A,D,B,A,B
51045,190006119757,2019,2306553,Itarema,23,CE,19,M,1,3,...,A,A,A,B,A,A,B,A,A,B

In [8]:
df.describe()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,5.104600e+04,51046.0,5.104600e+04,51046.000000,51046.000000,51046.000000,51046.000000,51046.000000,4.959600e+04,49596.000000,...,37041.000000,51046.000000,39190.000000,39190.000000,39190.000000,39190.000000,39190.000000,39190.000000,39190.000000,51046.000000
mean,1.900036e+11,2019.0,3.088229e+06,30.730439,22.069232,1.075383,2.132038,1.029444,3.057908e+06,30.426728,...,523.018960,0.528778,1.142536,120.215361,122.375096,114.406736,121.246747,91.364124,569.608063,3.874133
std,1.471940e+06,0.0,9.990353e+05,9.960015,7.445936,0.437625,1.014635,0.210822,9.840055e+05,9.805828,...,108.552767,0.499176,0.794026,33.577273,42.947766,40.246617,38.184141,59.405407,189.043112,1.493869
min,1.900010e+11,2019.0,1.100015e+06,11.000000,13.000000,0.000000,0.000000,0.000000,1.100015e+06,11.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.900023e+11,2019.0,2.407203e+06,24.000000,18.000000,1.000000,1.000000,1.000000,2.314102e+06,23.000000,...,435.600000,0.000000,1.000000,120.000000,120.000000,100.000000,100.000000,40.000000,480.000000,3.000000
50%,1.900036e+11,2019.0,3.127701e+06,31.000000,19.000000,1.000000,2.000000,1.000000,3.113602e+06,31.000000,...,501.100000,1.000000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,580.000000,4.000000
75%,1.900048e+11,2019.0,3.549904e+06,35.000000,24.000000,1.000000,3.000000,1.000000,3.548708e+06,35.000000,...,596.900000,1.000000,1.000000,140.000000,140.000000,140.000000,140.000000,140.000000,680.000000,5.000000
max,1.900061e+11,2019.0,5.300108e+06,53.000000,74.000000,4.000000,5.000000,4.000000,5.300108e+06,53.000000,...,973.400000,1.000000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,980.000000,20.000000

In [9]:
df.sample(5)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
41041,190005113987,2019,3507902,Brotas,35,SP,19,F,1,1,...,B,A,B,C,B,A,E,A,C,B
5079,190001513594,2019,3201209,Cachoeiro de Itapemirim,32,ES,18,F,1,3,...,B,A,A,B,B,A,C,A,B,B
37593,190004766437,2019,3537602,Peruíbe,35,SP,25,M,1,3,...,A,A,A,B,A,A,C,A,B,B
7227,190001723893,2019,4205407,Florianópolis,42,SC,18,F,1,3,...,B,A,B,D,A,B,D,B,A,B
48173,190005813704,2019,4126256,Sarandi,41,PR,18,M,1,4,...,A,A,A,B,B,A,D,A,B,B

In [10]:
df["TP_PRESENCA_CN"].value_counts()

1    37041
0    13985
2       20
Name: TP_PRESENCA_CN, dtype: int64

In [13]:

def filterdf(df):
    df = df[df["TP_PRESENCA_CN"] == 1] #presente nas 4 provas
    df = df[df["TP_PRESENCA_CH"] == 1]
    df = df[df["TP_PRESENCA_LC"] == 1]
    df = df[df["TP_PRESENCA_MT"] == 1]
    df = df[df["IN_TREINEIRO"] == 0] # não é treineiro
    df = df[df["TP_ST_CONCLUSAO"].isin([1,2])] #afirma que concluiu ou vai concluir EM em 2019
    # não queremos as notas == 0
    df = df.query("NU_NOTA_CH != 0 and NU_NOTA_CN != 0 and NU_NOTA_LC != 0 and NU_NOTA_MT != 0") 
    return df

dff = filterdf(df)
dff

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004666,2019,1500602,Altamira,15,PA,23,F,1,2,...,A,A,A,B,A,A,C,A,A,A
1,190001004673,2019,1501204,Baião,15,PA,22,M,1,1,...,A,A,A,B,B,A,B,B,A,A
2,190001004681,2019,1501808,Breves,15,PA,23,M,1,3,...,A,A,A,B,B,A,B,A,A,A
3,190001004775,2019,1501402,Belém,15,PA,27,M,1,2,...,A,A,A,B,A,A,B,A,B,A
4,190001004999,2019,1502756,Concórdia do Pará,15,PA,19,F,1,3,...,A,A,A,B,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51038,190006118887,2019,3305802,Teresópolis,33,RJ,20,F,1,1,...,A,A,A,B,A,A,D,A,A,B
51039,190006119047,2019,3545803,Santa Bárbara d'Oeste,35,SP,18,F,1,3,...,B,A,B,C,A,A,D,B,C,A
51041,190006119131,2019,4313409,Novo Hamburgo,43,RS,18,M,1,1,...,B,A,A,C,A,A,D,A,B,B
51042,190006119172,2019,5101704,Barra do Bugres,51,MT,20,M,1,3,...,A,A,A,B,A,A,C,B,C,B
51045,190006119757,2019,2306553,Itarema,23,CE,19,M,1,3,...,A,A,A,B,A,A,B,A,A,B

In [16]:
import inspect
filter_conditions = inspect.getsource(filterdf)
print(filter_conditions)

def filterdf(df):
    df = df[df["TP_PRESENCA_CN"] == 1] #presente nas 4 provas
    df = df[df["TP_PRESENCA_CH"] == 1]
    df = df[df["TP_PRESENCA_LC"] == 1]
    df = df[df["TP_PRESENCA_MT"] == 1]
    df = df[df["IN_TREINEIRO"] == 0] # não é treineiro
    df = df[df["TP_ST_CONCLUSAO"].isin([1,2])] #afirma que concluiu ou vai concluir EM em 2019
    # não queremos as notas == 0
    df = df.query("NU_NOTA_CH != 0 and NU_NOTA_CN != 0 and NU_NOTA_LC != 0 and NU_NOTA_MT != 0")
    return df

In [19]:
# salvar a amostra filtrada em disco
fn = "data/enem19-1perc"
dff.to_csv(f'{fn}.csv',index=False)
with open(fn+'-filter_conditions.txt','w') as f:
    f.write(filter_conditions)

In [133]:
# Selecionar apenas as colunas que desejamos trabalahr
df_selecao = dff[["NU_INSCRICAO","NU_ANO","CO_MUNICIPIO_RESIDENCIA","NO_MUNICIPIO_RESIDENCIA","CO_UF_RESIDENCIA","SG_UF_RESIDENCIA","TP_COR_RACA","TP_SEXO","NU_IDADE","TP_ENSINO","TP_ESCOLA","NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_MT","NU_NOTA_LC","NU_NOTA_REDACAO"]]
df_selecao

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_ENSINO,TP_ESCOLA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_MT,NU_NOTA_LC,NU_NOTA_REDACAO
4,190001004967,2019,1506807,Santarém,15,PA,3,F,20,1.0,1,537.9,582.2,417.7,585.7,780.0
5,190001005059,2019,1506807,Santarém,15,PA,4,F,17,1.0,2,416.2,569.5,459.9,539.6,660.0
6,190001005138,2019,1508100,Tucuruí,15,PA,3,M,19,NaN,1,526.9,589.7,708.5,588.7,860.0
7,190001005147,2019,1505205,Oeiras do Pará,15,PA,3,F,37,1.0,1,376.8,502.1,392.1,546.5,620.0
8,190001005219,2019,1502954,Eldorado do Carajás,15,PA,3,F,18,1.0,1,377.6,443.8,425.0,433.5,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50671,190006119878,2019,2610608,Paudalho,26,PE,0,F,19,1.0,1,419.4,354.0,587.7,461.2,520.0
50672,190006119928,2019,2700300,Arapiraca,27,AL,3,F,26,1.0,1,567.1,513.7,551.0,559.2,460.0
50674,190006120038,2019,2912103,Ibicaraí,29,BA,4,F,17,NaN,2,340.9,497.7,372.7,386.8,260.0
50675,190006120062,2019,2927408,Salvador,29,BA,3,F,18,1.0,2,397.6,438.5,450.2,476.9,300.0
50676,190006120091,2019,3155603,Rio Pardo de Minas,31,MG,3,M,17,1.0,2,459.8,439.3,448.7,509.6,440.0

## Eliminar as colunas que possuem nota 0

In [134]:
#Salvar colunas selecionadas
df_selecao.to_csv('data/selecao.csv',index=False)
df_selecao

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_ENSINO,TP_ESCOLA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_MT,NU_NOTA_LC,NU_NOTA_REDACAO
4,190001004967,2019,1506807,Santarém,15,PA,3,F,20,1.0,1,537.9,582.2,417.7,585.7,780.0
5,190001005059,2019,1506807,Santarém,15,PA,4,F,17,1.0,2,416.2,569.5,459.9,539.6,660.0
6,190001005138,2019,1508100,Tucuruí,15,PA,3,M,19,NaN,1,526.9,589.7,708.5,588.7,860.0
7,190001005147,2019,1505205,Oeiras do Pará,15,PA,3,F,37,1.0,1,376.8,502.1,392.1,546.5,620.0
8,190001005219,2019,1502954,Eldorado do Carajás,15,PA,3,F,18,1.0,1,377.6,443.8,425.0,433.5,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50671,190006119878,2019,2610608,Paudalho,26,PE,0,F,19,1.0,1,419.4,354.0,587.7,461.2,520.0
50672,190006119928,2019,2700300,Arapiraca,27,AL,3,F,26,1.0,1,567.1,513.7,551.0,559.2,460.0
50674,190006120038,2019,2912103,Ibicaraí,29,BA,4,F,17,NaN,2,340.9,497.7,372.7,386.8,260.0
50675,190006120062,2019,2927408,Salvador,29,BA,3,F,18,1.0,2,397.6,438.5,450.2,476.9,300.0
50676,190006120091,2019,3155603,Rio Pardo de Minas,31,MG,3,M,17,1.0,2,459.8,439.3,448.7,509.6,440.0

In [143]:
#Tirar alunos ocm nota 0 da selecao
notas_selecao = df_selecao.query("NU_NOTA_CH != 0 and NU_NOTA_CN != 0 and NU_NOTA_LC != 0 and NU_NOTA_MT != 0")
notas_selecao

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_ENSINO,TP_ESCOLA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_MT,NU_NOTA_LC,NU_NOTA_REDACAO
4,190001004967,2019,1506807,Santarém,15,PA,3,F,20,1.0,1,537.9,582.2,417.7,585.7,780.0
5,190001005059,2019,1506807,Santarém,15,PA,4,F,17,1.0,2,416.2,569.5,459.9,539.6,660.0
6,190001005138,2019,1508100,Tucuruí,15,PA,3,M,19,NaN,1,526.9,589.7,708.5,588.7,860.0
7,190001005147,2019,1505205,Oeiras do Pará,15,PA,3,F,37,1.0,1,376.8,502.1,392.1,546.5,620.0
8,190001005219,2019,1502954,Eldorado do Carajás,15,PA,3,F,18,1.0,1,377.6,443.8,425.0,433.5,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50671,190006119878,2019,2610608,Paudalho,26,PE,0,F,19,1.0,1,419.4,354.0,587.7,461.2,520.0
50672,190006119928,2019,2700300,Arapiraca,27,AL,3,F,26,1.0,1,567.1,513.7,551.0,559.2,460.0
50674,190006120038,2019,2912103,Ibicaraí,29,BA,4,F,17,NaN,2,340.9,497.7,372.7,386.8,260.0
50675,190006120062,2019,2927408,Salvador,29,BA,3,F,18,1.0,2,397.6,438.5,450.2,476.9,300.0
50676,190006120091,2019,3155603,Rio Pardo de Minas,31,MG,3,M,17,1.0,2,459.8,439.3,448.7,509.6,440.0

In [140]:
# salvar a amostra filtrada em disco
notas_selecao.to_csv('data/enem19-sem_Zzero.csv',index=False)

In [136]:
#df_selecao = df_selecao[df_selecao["NU_NOTA_MT"] == 0]
#df_selecao

In [137]:
#df_selecao = df_selecao.drop(notas_zero.index)
#df_selecao

In [144]:
#Numero pessoas que sairam da analise
len(df_selecao)-len(notas_selecao)

27